body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Serif Pro', serif;
}
header {
	background-color: transparent;
	background: linear-gradient(rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.3)), url(Img/69cd25_04cddd545c064d5394275f3c2ade52f1~mv2_d_3000_1687_s_2.webp) no-repeat center;
	background-size: cover;
}

div #mediajfuklr37inlinecontent.strcinlinecontent;
h1 {
	width: 100%;
	font-size: 37px;
	font-weight: 700;
	line-height: 1.2em;
	color: white;
	text-align: right;
}
.logo1 {
	width: 70%;
	margin: 0 auto;
	display: block;
}
.logo2 {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.button {
	background-color: transparent;
    position: relative
	color: white;
	border-radius: 50px;
	border: 2.5px solid;
	font-size: 15px;
	padding: 10px 31px;
	margin-bottom: 40px;
}

.subtitle {
	color: white;
	font-size: 26px;
	font-weight: 350;
	text-align: right;
	margin-bottom: 1.75em;
}

#icons {
	display: none;
}

#header {
	padding-bottom: 3em;
}

.text-hero {
	color: white;
	width: 90%;
	margin: 0 auto;
	display: block;
}

button {
	height: 52px;
	min-height: 24px;
	width: 189px;
	background-color: aqua;
	border: solid rgba(255, 255, 255, 1) 2px;
	border-radius: 30px 30px 30px 30px;
	font-weight: 700;
	font-size: 18px;
	color: white;
	cursor: pointer !important;
}
button:hover {
	color: white;
	background-color: rgba(50, 50, 50, 1);
	border-color: transparent;
}

.text-hero p {
	font-size: 24px;
}

@media screen and (min-width:768px) {
	/* aqui inicia los estilos de tablet*/

	#header {
		display: grid;
		grid-template: 1fr/ 1fr 2fr 1fr
	}

	h1 {
		display: grid;
		width: 75%;
		font-size: 45px;
		font-weight: 700;
		line-height: 1.2em;
		color: white;
		text-align: left;
		margin-top: 15%;
	}

	#icons {
		display: block;
		width: 60%;
		color: white;
		margin: auto;
	}
	
	#icons a{
		color: white;
	}
	
	#icons .fa-facebook, #icons .fa-twitter, #icons .fa-instagram{
		font-size: 30px;
		margin: 2px;
	}

	.logo1 {
		width: 100%;
		margin: 1em auto;
	}

	.logo2 {
		width: 100%;
		margin:2.1em auto;
	}

	/* aqui inicia los estilos de tablet*/
}

@media screen and (min-width:1024px) {

	/* aqui inicia los estilos de tablet*/
	.logo1 {
		width: 70%;
		margin: 1.0em auto;
	}

	.logo2 {
		width: 100%;
		margin: 1.3em auto;
	}
	#icons .fa-facebook, #icons .fa-twitter, #icons .fa-instagram{
		font-size: 32px;
		margin: 5px;
	}

	/* aqui inicia los estilos de tablet*/
}
footer {
	background: #232323;
	width: 100%;
	color: white;
	margin-top: 6em;
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5em;
	padding-bottom: 4em;
}
footer {
	background: #232323;
	width: 100%;
	color: white;
	margin-top: 6em;
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5em;
	padding-bottom: 4em;
}

footer .direccion {
	display: block;
	max-width: 1020px;
	margin: 0 auto;
	width: 90%;
}

footer img {
	width: 90%;
	max-width: 170px;
	text-align: left;
}

footer > div > section:nth-child(3) > p {
	font-size: 16px;
	font-weight: 400;
}

footer .fa-facebook,
footer .fa-twitter,
footer .fa-youtube,
footer .fa-instagram {
	font-size: 45px;
	margin: 5px;
}

footer a{
	color: white;
}

.redes {
	text-align: center;
}

#copyright{
	text-align: center;
	font-size: 15px;
	font-weight: 100;
	padding: 1.2em;
}

@media screen and (min-width: 768px) {

	/*aqui inician los estilos de tablet*/
	footer .direccion {
		display: grid;
		grid-template: 6em 1fr /50% 50%;
	}

	.direccion img {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	#direccion {
		border-right: 2px solid grey;
	}

	/*aqui terminan los estilos de tablet*/
}

@media screen and (min-width: 1024px) {
	/*aqui inician los estilos de laptop*/

	/*aqui terminan los estilos de laptop*/
}
